.navs {
  height: 32px;
  line-height: 32px;
  background-color: #333;
  color: #fff;

  > a {
    margin: 0 5px;
    color: #fff;
  }
  > .xxx {
    background: url(../../../imgs/test.jpg) center no-repeat;
    background-size: 100%;
  }
}